@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../../fonts/SourceSansPro-Light.ttf"); }
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("../../fonts/SourceSansPro-Regular.ttf"); }
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../../fonts/SourceSansPro-Bold.ttf"); }
@font-face {
  font-family: 'Source Sans Pro Black';
  src: url("../../fonts/SourceSansPro-Black.ttf"); }
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../../fonts/PT_Sans-Web-Bold.ttf"); }
@font-face {
  font-family: 'Lato Regular';
  src: url("../../fonts/Lato-Regular.ttf"); }
body {
  max-width: 1920px; }

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.active {
  color: #e4551d; }

.uppercase {
  text-transform: uppercase; }

.l-title {
  color: #637f83;
  font-family: 'Source Sans Pro Bold';
  text-align: center;
  font-size: 30px;
  margin-top: 20px; }

.s-title {
  color: #637f83;
  font-family: 'Source Sans Pro Light';
  text-align: center;
  font-size: 23px;
  margin-top: 3px; }

.logo {
  float: left;
  color: #637f83;
  font-family: 'Source Sans Pro Black';
  font-size: 30px;
  margin-top: 25px; }

.nav-link {
  display: block;
  position: relative;
  text-decoration: none;
  font-family: 'Source Sans Pro Bold'; }
  .nav-link:hover:after {
    content: "\02C7";
    font-size: 20px;
    color: #637f83;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    top: -25px; }

header {
  height: 90px; }
  header nav {
    top: 40%;
    margin-top: 35px;
    float: right; }
    header nav li {
      float: left;
      margin-left: 40px; }
      header nav li a {
        color: #637f83; }

.banner {
  position: relative;
  max-height: 520px;
  overflow: hidden;
  width: 100%; }

.banner-label {
  position: absolute;
  top: 30%;
  margin: 0 20%;
  width: 450px;
  text-align: center;
  color: #fff; }

.banner-title {
  font-family: 'PT Sans Bold';
  text-decoration: underline;
  font-size: 35px;
  letter-spacing: 2px; }

.small-title {
  margin-top: 20px;
  font-family: 'Lato Regular';
  text-transform: uppercase;
  letter-spacing: 2px; }

.banner-link {
  color: #e4551d; }
  .banner-link i {
    margin-top: 20px; }

.main-content {
  color: #637f83; }

.main-content-item {
  float: left;
  width: 24%;
  text-align: center; }
  .main-content-item i {
    color: #e4551d;
    margin-top: 20px; }
  .main-content-item h3 {
    font-family: 'Source Sans Pro Bold';
    font-size: 20px;
    margin-top: 25px; }
  .main-content-item p {
    font-family: 'Source Sans Pro Regular';
    width: 70%;
    margin: 20px 15%;
    color: #bcbbbb;
    font-size: 14px;
    line-height: 140%; }
  .main-content-item a {
    background: #637f83;
    color: #fff;
    display: block;
    width: 70px;
    height: 16px;
    margin: 25px auto 40px;
    padding: 8px 0;
    text-decoration: none;
    font-family: 'Source Sans Pro Black';
    font-size: 15px;
    border-radius: 4px; }

.splitted {
  border-left: 1px solid #d5d5d5; }

.main-content-list {
  background: #f6f6f6;
  margin-top: 20px; }
  .main-content-list:after {
    content: "";
    display: block;
    clear: both; }

.arrows {
  background: #fff;
  padding: 0 15px; }
  .arrows i {
    color: #e4551d;
    font-size: 20px;
    margin: 0 3px; }

.hr-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 30px; }
  .hr-line:after, .hr-line:before {
    background: #d5d5d5;
    height: 1px;
    flex: 1;
    content: ''; }

.btn-active {
  background: #e4551d;
  color: #fff;
  display: block;
  width: 150px;
  height: 29px;
  margin: 35px auto 60px;
  padding: 13px 0 0;
  text-decoration: none;
  text-align: center;
  font-family: 'Source Sans Pro Bold';
  font-size: 16px;
  border-radius: 8px; }

.customers-list {
  color: #637f83;
  margin-top: 50px;
  text-align: center; }
  .customers-list img {
    float: left;
    margin: 0 20px 30px 0; }
  .customers-list li {
    float: left;
    width: 50%; }
  .customers-list h3 {
    font-family: 'Source Sans Pro Bold';
    margin-bottom: 15px;
    text-align: left;
    font-size: 22px; }
  .customers-list p {
    font-family: 'Source Sans Pro Regular';
    text-align: left;
    font-size: 15px;
    line-height: 150%;
    color: #959494; }
  .customers-list a {
    color: #e4551d;
    text-decoration: none; }
  .customers-list:after {
    content: "";
    display: block;
    clear: both; }

.contact {
  background: #637f83; }

.l2-title {
  padding-top: 30px;
  color: #fff;
  font-family: 'Source Sans Pro Bold';
  text-align: center;
  font-size: 30px;
  margin-top: 20px; }

.s2-title {
  color: #fff;
  font-family: 'Source Sans Pro Light';
  text-align: center;
  font-size: 23px;
  margin-top: 3px; }

.newsletter {
  color: #fff;
  width: 50%;
  float: left;
  margin-top: 60px; }
  .newsletter i {
    margin-right: 20px;
    float: left;
    font-size: 40px; }
  .newsletter h3 {
    font-family: 'Source Sans Pro Bold';
    margin: 4px 0; }
  .newsletter p {
    font-family: 'Source Sans Pro Regular'; }

.inp-group {
  margin: 25px 0; }
  .inp-group input {
    width: 450px;
    height: 35px;
    background: #597275;
    float: left;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    color: #fff; }
  .inp-group a {
    background: #597275;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Source Sans Pro Bold';
    font-size: 16px;
    line-height: 130%;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    float: right;
    padding: 8px 0 0;
    margin-right: 25px; }

.f-twitter {
  width: 50%;
  background: #597275;
  color: #fff;
  float: right;
  margin-top: 60px;
  border-radius: 6px; }
  .f-twitter i {
    float: left;
    margin: 20px; }
  .f-twitter p {
    margin: 23px;
    font-family: 'Source Sans Pro Regular';
    color: #b5c7c9;
    line-height: 120%; }
  .f-twitter a {
    color: #fff; }

.subscribe:after {
  content: "";
  clear: both;
  display: block; }

.social {
  margin: 50px 0 0;
  background: #fff; }
  .social li {
    width: 33%;
    float: left;
    margin: 30px 0;
    color: #637f83; }
    .social li h3 {
      font-family: 'Source Sans Pro Bold';
      margin-top: 15px;
      line-height: 150%; }
    .social li a {
      text-align: center;
      text-decoration: none;
      font-family: 'Source Sans Pro Bold';
      line-height: 70px;
      font-size: 35px;
      color: #fff;
      background: #e4551d;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      float: left;
      margin-right: 20px; }
  .social:after {
    content: "";
    clear: both;
    display: block; }

.copyright {
  font-family: 'Source Sans Pro Regular';
  color: #fff;
  text-align: center;
  height: 50px; }
  .copyright p {
    margin-top: 35px; }
