//================== BANNER SECTION =================
.banner {
  position: relative;
  max-height: 520px;
  overflow: hidden;
  width: 100%;
}

.banner-label {
  position: absolute;
  top: 30%;
  margin: 0 20%;
  width: 450px;
  text-align: center;
  color: #fff;
}

.banner-title {
  font-family: 'PT Sans Bold';
  text-decoration: underline;
  font-size: 35px;
  letter-spacing: 2px;
}

.small-title {
  margin-top: 20px;
  font-family: 'Lato Regular';
  text-transform: uppercase;
  letter-spacing: 2px;
}

.banner-link {
  @extend .active-color;
  i {
    margin-top: 20px;
  }
}