//================== COMMON STYLES =================
body {
  max-width: 1920px;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.active-color {
  color: $active-color;
}

.uppercase {
  text-transform: uppercase;
}

.l-title {
  color: $default-color;
  font-family: 'Source Sans Pro Bold';
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  &--white {
    color: #fff;
  }
}

.s-title {
  color: $default-color;
  font-family: 'Source Sans Pro Light';
  text-align: center;
  font-size: 23px;
  margin-top: 3px;
  &--white {
    color: #fff;
  }
}

.button {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}

.button-default {
  background: $default-color;
  width: 70px;
  height: 16px;
  margin: 25px auto 40px;
  padding: 8px 0;
  font-family: 'Source Sans Pro Black';
  border-radius: 4px;
}

.button-active {
  background: $active-color;
  width: 150px;
  height: 29px;
  margin: 35px auto 60px;
  padding: 13px 0 0;
  font-family: 'Source Sans Pro Bold';
  border-radius: 8px;
}

.clearfix {
    &:after {
    content: "";
    display: block;
    clear: both;
  }
}