//================== MAIN CONTENT SECTION ===========
.main-content {
  color: $default-color;
}

.splitted {
  border-left: 1px solid $content-splitter;
}

.main-content {
  background: $main-content-background;
  margin-top: 20px;
  @extend .clearfix;
  &--item {
    color: $active-color;
    float: left;
    width: 24%;
    text-align: center;
  }
  &--group {
    margin-top: 20px;
  }
  &--title {
    font-family: 'Source Sans Pro Bold';
    font-size: 20px;
    margin-top: 25px;
    color: $default-color;
  }
  &--text {
    font-family: 'Source Sans Pro Regular';
    width: 70%;
    margin: 20px 15%;
    color: $main-text-color;
    font-size: 14px;
    line-height: 140%;
  }
}
