//================== CONTACTS SECTION ==============
.contact {
  background: $default-color;
  &--title {
    padding: 20px 0;
  }
}

.newsletter {
  color: #fff;
  width: 50%;
  float: left;
  &--icon {
    margin-right: 20px;
    float: left;
    font-size: 38px;
  }
  &--title {
    font-family: 'Source Sans Pro Bold';
    line-height: 140%;
  }
  &--text {
    font-family: 'Source Sans Pro Regular';
  }
}

.inp-group {
  margin: 25px 25px 0 0;
  .button {
    float: right;
  }
  @extend .clearfix;
}

.f-twitter {
  width: 50%;
  background: $default-dark-color;
  color: #fff;
  float: right;
  border-radius: 6px;
  &--icon {
    float: left;
    margin: 18px;
  }
  &--text {
    margin: 18px;
    font-family: 'Source Sans Pro Regular';
    color: #b5c7c9;
    line-height: 120%;
  }
}

.subscribe {
  padding-bottom: 50px;
  @extend .clearfix;
}

.social {
  background: #fff;
  &--item {
    width: 33%;
    float: left;
    margin: 30px 0;
    color: $default-color;
  }
  &--item-title {
    font-family: 'Source Sans Pro Bold';
    margin-top: 15px;
    line-height: 150%;
  }
  &--link {
    text-align: center;
    text-decoration: none;
    font-family: 'Source Sans Pro Bold';
    line-height: 70px;
    font-size: 35px;
    background: $active-color;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
  }
  @extend .clearfix;
}

.copyright {
  font-family: 'Source Sans Pro Regular';
  text-align: center;
  padding: 35px 0;
}