//================== CUSTOMERS SECTION ==============
.customers {
  color: $default-color;
  margin-top: 50px;
  text-align: center;
  &--photo {
    float: left;
    margin: 0 20px 30px 0;
  }
  &--item {
    float: left;
    width: 50%;
  }
  &--title {
    font-family: 'Source Sans Pro Bold';
    margin-bottom: 15px;
    text-align: left;
    font-size: 22px;
  }
  &--desc {
    font-family: 'Source Sans Pro Regular';
    text-align: left;
    font-size: 15px;
    line-height: 150%;
    color: #959494;
  }
  &--link {
    color: $active-color;
    text-decoration: none;
  }
  @extend .clearfix;
}
